h1{
    color:blue;
    text-decoration: underline;
    background-color: gold;
}

/* Text purple, bold, 25px, orange border*/
h2{
    color: purple;
    font-weight: bold;
    font-size: 25px;
    border: 5px solid orange;
}

/* Section width 50%, height 200px, gray background, black border whte text */
section{
    width: 50%;
    height: 200px;
    background-color: gray;
    border: 5px solid black;  
}
 /* white text could have been inherited from the section; best to be specific */
p{
    color: white;
}

/* footer with black background, light green border, text 20px, white, font of Roboto */
footer{
    background-color: black;
    border: 5px solid lightgreen;
}

h3{
    font-size:20px;
    color: white;
    font-family: "Roboto", sans-serif;
}